.bots-page{
    display: flex;
    height: 100vh;
    margin-left: 240px;
    padding-left: 40px;
}

.bots-page-title{
    margin-bottom: 40px;    
    font-weight: 500;
    color: #425466;
}

.bots-condition-title{
    margin-bottom: 10px;
    font-size: 15px;
    color: #425466;
}

.bots-condition-container{
    display: flex;
    width: 900px;
    margin-bottom: 30px;
}

#select{
    display: flex;
    font-size: 14px;
    padding: 16px;
    background-color: #fafafa;
}

#select:active{
    background-color: #fafafa;;
}

.create-bot-button_disabled{
    width: 320px;
    height: 45px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    border: solid 1px #E0E0E0;
    background-color: #E0E0E0;
    border-radius: 3px;
    color: #9E9E9E;
    margin-bottom: 40px;
}

.create-bot-button_active{
    width: 320px;
    height: 45px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    border: solid 1px #635bff;
    background-color: #635bff;
    border-radius: 3px;
    color: #fafafa;
    margin-bottom: 40px;

}

.create-bot-button_active:hover{
    filter: brightness(108%);
    cursor: pointer;
}

