.bots-page{
    display: flex;
    margin-left: 240px;
    padding:30px
}

.bots-page-title{
    margin-bottom: 40px;    
    font-weight: 500;
}

.bots-condition-title{
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255,255,255, 0.80);
}

.strategies-container_separator{
    border-bottom: solid 1px rgba(255,255,255,0.15);
    padding-bottom: 10px;
    margin-bottom: 25px;
    max-width: 1010px;
}

.bots-condition-container{
    display: flex;
    width: 900px;
}

#select{
    display: flex;
    font-size: 14px;
    padding: 16px;
    background-color: rgb(51, 51, 53);
}

#select:active{
    background-color: rgb(51, 51, 53);
}

.create-bot-button_disabled{
    width: 380px;
    height: 45px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    border: solid 1px rgb(36, 36, 38);
    background-color: rgb(36, 36, 38);
    color: rgba(255,255,255, 0.7);
    margin-bottom: 40px;
    border-radius: 3px;
}

.create-bot-button_active{
    width: 380px;
    height: 45px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    border: solid 1px rgb(130, 87, 230);
    background-color: rgb(130, 87, 230);
    color: rgba(255,255,255, 0.9);
    margin-bottom: 40px;
    border-radius: 3px;
}

.create-bot-button_active:hover{
    filter: brightness(110%);
    border: none;
    cursor: pointer;
}

.create-bot-error {
    font-size: 13px;
    padding-top: 5px;
    font-weight: 400;
    margin-top: 5px;
    color: #fa755a;
}  

@media screen and (max-width: 600px) {
    .bots-page {
      margin-left: 0;
      padding-top: 70px
    }   
  }

