.bots-page{
    display: flex;
    margin-left: 240px;
    padding:30px
}

.bots-page-title{
    margin-bottom: 40px;    
    font-weight: 500;
    color: #425466;
}

.bots-condition-title{
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #425466;
}

.bots-condition-container{
    display: flex;
    width: 900px;
    margin-bottom: 15px;
}

#select{
    display: flex;
    font-size: 14px;
    padding: 16px;
    background-color: #fafafa;
}

#select:active{
    background-color: #fafafa;;
}

.create-bot-button_disabled{
    width: 320px;
    height: 40px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    border: solid 1px #E0E0E0;
    background-color: #E0E0E0;
    border-radius: 3px;
    color: #9E9E9E;
    margin-bottom: 40px;
}

.create-bot-button_active{
    width: 320px;
    height: 40px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    border: solid 1px rgb(27, 39, 51);
    background-color: rgb(27, 39, 51);
    border-radius: 3px;
    color: #fafafa;
    margin-bottom: 40px;

}

.create-bot-button_active:hover{
    background-color: #635bff;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .bots-page {
      margin-left: 0;
      padding-top: 70px
    }   
  }

