.strategies-page{
    display: flex;
    height: 100vh;
    margin-left: 240px;
    padding-left: 40px;
    padding-right: 40px;
}

.strategies-container{
    width: 100vw;
    margin-top: 40px;
}

.strategies-header{
    display: flex;
    justify-content: space-between;
}

.strategies-page-title{
    margin-bottom: 20px;
    font-weight: 500;
    color: #425466;

}

.add-bot-button{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #635bff;
    padding: 15px;
    padding-left: 12px;
    border-radius: 3px;
    color: #fafafa;
    font-size: 15px;    
    font-weight: 500;
}

.add-bot-button:hover{
    filter: brightness(108%);
    cursor: pointer;
}

.strategies-no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    padding-bottom: 7%;
}

.strategies-list-header{
    display: flex;
    min-width: 500px;
    justify-content: space-around;
    margin-top: 30px;
    padding: 12px 8px 20px 8px;
    border-bottom: 1px solid rgb(235, 236, 240);
}

.strategies_col_name{
    flex: 1 ;
    font-size: 15px;    
    color: #425466;
    font-weight: 500;
}

.strategies_col_exchange{    
    flex: 1 ;
    font-size: 15px;    
    color: #425466;
    font-weight: 500;
}

.strategies_col_status{
    flex: 1 ;
    font-size: 15px;    
    color: #425466;
    font-weight: 500;
}

.strategies_col_actions{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-self: flex-end;
}

.strategies-list-content{
    display: flex;
    min-width: 500px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(235, 236, 240);
    padding: 12px 8px 12px 8px;
}

.strategies-list-content:hover{
    background-color: #F5F5F5;    
}

.strategies_row_name{
    flex: 1 ;
    font-size: 13px;    
    color: #425466;
}

.strategies_row_exchange{    
     flex: 1;
     font-size: 13px;  
     color: #425466;
}

.strategies_row_status{
     flex: 1;
     font-size: 13px;    
     color: #425466;
     font-weight: 500;
}

.strategies_row_status-active{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #635bff;
    color: #635bff;
    width: 55px;
    height: 22px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 13px;
}

.strategies_row_status-inactive{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #1DB954;
    color: #1DB954;
    width: 60px;
    height: 25px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 13px;
}



.strategies_row_actions{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-self: flex-end;
}

.strategies_action-menu{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgb(235, 236, 240);
    width: 130px;
    right: 40px;
    margin-top: 125px;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.strategies_action-menu-option{
    display: flex;
    width: 130px; 
    height: 35px;   
    align-items: center;
    background-color:transparent;
    border: none;
    margin-left: 4px; 
    margin-right: 4px;  
}

.strategies_action-menu-option:hover{
    cursor: pointer;
    background-color: #F5F5F5; 
    margin-left: 4px; 
    margin-right: 4px;  
}

.strategy-option_title{
    font-size: 13px;
    color: #425466;
    padding-left: 15px;
}

.strategy-get-started{
    display: flex;
    width: 280px;
    height: 45px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: #635bff;
    padding: 15px;
    padding-left: 12px;
    border-radius: 3px;
    color: #fafafa;
    font-size: 15px;    
    font-weight: 500;
}

.strategy-get-started:hover{
  cursor: pointer;
  filter: brightness(108%);

}





