.strategies-page{
    display: flex;
    margin-left: 240px;
    padding:30px;
}

.strategies-container{
    width: 100vw;
}

.strategies-header{
    display: flex;
    justify-content: space-between;
}

.strategies-page-title{
    margin-bottom: 20px;
    font-weight: 500;
}

.add-bot-button{
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 87, 230);
    padding: 15px;
    padding-left: 12px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-size: 14px;    
    font-weight: 500;
}

.add-bot-button:hover{
    cursor: pointer;
    filter: brightness(120%);
}

.strategies-list-header{
    display: flex;
    min-width: 500px;
    justify-content: space-around;
    margin-top: 30px;
    padding: 10px 8px 5px 8px;
    border-bottom: solid 1px rgb(51, 51, 53);
    margin-bottom: 15px;
}

.strategies_col_name{
    flex: 1 ;
    font-size: 14px;    
    font-weight: 500;
}

.strategies-list-content{
    display: flex;
    min-width: 500px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px 8px 12px 8px;
    border-radius: 3px;
    background-color: rgb(36, 36, 38);
    height: 50px;
}

.strategies-list-content:hover{
    background-color: rgb(51, 51, 53);    
    cursor: pointer;
}

.strategies_row_name{
     flex: 1;
     font-size: 13px;  
     font-weight: 600;
}
.strategies_row_status-active{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bb86fc;
    color: rgb(36, 36, 38);
    width: 56px;
    height: 22px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
}

.strategies_row_status-inactive{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(255,255,255, 0.8);
    color: rgb(36, 36, 38);
    width: 56px;
    height: 22px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
}

.strategies-no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    padding-bottom: 7%;
}

.strategy-get-started{
    display: flex;
    width: 280px;
    height: 35px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 87, 230);;
    padding: 15px;
    padding-left: 12px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-size: 14px;    
    font-weight: 500;
}

.strategy-get-started:hover{
  cursor: pointer;
  filter: brightness(120%);
}

@media screen and (max-width: 600px) {
    .strategies-page {
      margin-left: 0;
      padding-top: 70px;
    }   
  }





