.dashboard-page{
    display: flex;
    height: 100vh;
    margin-left: 240px;
    padding:40px
}

.dashboard-title{
    color: #425466;
    font-weight: 500;
}

.dashboard-container{
    width: 100vw;
}