.dashboard-page{
    display: flex;
    margin-left: 240px;
    padding: 30px;    
}

.dashboard-title{
    color: #425466;
    font-weight: 500;
}

.dashboard-container{
    width: 100vw;
}

@media screen and (max-width: 600px) {
    .dashboard-page {
      margin-left: 0;
      padding-top: 70px
    }   
  }