.settings-page{
    display: flex;
    margin-left: 240px;
    padding:30px;
}

.settings-container{
    width: 100vw;
}

.seetings-title{
    font-weight: 500;
    color: #425466;  
    margin-bottom: 20px;  
}

.settings-list-header{  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.settings-header-col-name_active{
    display: flex;
    width: 50%;
    min-width: 300px;
    align-items: center;
    font-size: 14px;
    color: rgb(27, 39, 51);
    cursor: pointer;
    border-bottom: solid 1px rgb(27, 39, 51);
    height: 35px;
    justify-content: center;
    font-weight: 500;
}

.settings-header-col-name{
    display: flex;
    width: 50%;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    border-bottom: 1px solid rgb(226, 226, 226);
    height: 35px;
    margin-bottom: 20px;
}

.settings-main-content{
    display: flex;
}

.settings-page-content{
    display: flex;

}

@media screen and (max-width: 600px) {
    .settings-page {
      margin-left: 0;
      padding-top: 70px;
    }   
  }