.settings-page{
    display: flex;
    height: 100vh;
    margin-left: 240px;
    padding: 40px
}

.settings-container{
    width: 100vw;
}

.seetings-title{
    font-weight: 500;
    color: #425466;    
}

.settings-list-header{  
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
}

.settings-header-col-name_active{
    display: flex;
    width: 100%;
    min-width: 300px;
    align-items: center;
    font-size: 14px;
    color: #635bff;
    cursor: pointer;
    border-bottom: solid 1px #635bff;
    height: 35px;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 500;
}

.settings-header-col-name{
    display: flex;
    width: 100%;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    border-bottom: 1px solid rgb(226, 226, 226);
    height: 35px;
    margin-bottom: 20px;
}

.settings-main-content{
    display: flex;
    width: 100%;
    justify-content: center;
}

.settings-page-content{
    display: flex;
}