.modal-select_container{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 150px; 
    height: 45px;  
    background-color:transparent;
    border: solid 1px #dadce1;
    border-radius: 4px 4px 0 0;    
    color: #909090;
}

.modal-select_container:hover{
    cursor: pointer;
    border: solid 1px #105efb;
    color: #105efb;
}

.modal-container{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    right: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background-color: #f0f0f0;   
    padding-top: 60px;
}

.modal-title{
    font-size: 16px;
    padding-left: 10px;
    height: 40px;
    color: #516078;
}

.modal-item{
    display: flex;
    width: 230px; 
    height: 35px;   
    align-items: center;
    background-color:transparent;
    border: none;
    margin-bottom: 3px;
}

.modal-item:hover{
    cursor: pointer;
    background-color:#e6e6e6;
    border-radius: 8px;
    color: #105efb;
}

.modal-option_title{
    font-size: 14px;
    padding-left: 10px;
    color: #516078;
}

.modal-close-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #516078;
    font-size: 25px;
}

