.StripeElement {
    height: 40px;
    padding: 10px 12px;
    width:380px;
    color: rgba(255,255,255, 0.9);
    background-color: rgb(36, 36, 38);
    border: solid 1px transparent;
    border-radius: 3px;  
  }
  
  .StripeElement:focus {
    border: solid 1px rgba(255,255,255, 0.6);
  }

  .StripeElement:hover {
    border: solid 1px rgba(255,255,255, 0.6);
  }
  
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }