.exchange-select_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 325px; 
    height: 40px;  
    border: none;
    color: rgba(255,255,255, 0.85);
    background-color: rgb(36, 36, 38);
    border-radius: 3px;
}

.exchange-select_container:hover{
    cursor: pointer;
}

.exchange-select_title{
    font-size: 14px;
    padding-left: 10px;
    color: rgba(255,255,255, 0.85);
}

.exchange-option_container{
    position: absolute;
    margin-top: 2px;
    width: 325px; 
    border-top: none;
    background-color: rgb(36, 36, 38);    
}

.exchange-option_item{
    display: flex;
    width: 312px; 
    height: 40px;   
    padding-left: 10px;   
    align-items: center;
    border: none;
    margin: 6px;
    background-color: rgb(36, 36, 38);    
}

.exchange-option_item:hover{
    cursor: pointer;
    filter: brightness(115%);
    color: #bb86fc;
}

.exchange-option_tag{
    border: solid 1px #bb86fc;
    color: #bb86fc;
    padding: 3px;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 11px;
    border-radius: 3px;
}

.exchange-option_item_selected{
    display: flex;
    width: 220px; 
    height: 40px;   
    padding-left: 10px;   
    align-items: center;
    background-color:transparent;
    border: none;
}

.exchange-option_title{
    font-size: 13px;
    padding-left: 10px;
    color: rgba(255,255,255, 0.85);
    font-weight: 500;  

}