.vertical-container {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 240px;
    height: 100%;
    background-color: #f0f0f0;
    z-index: 5;
}

.vertical-menu-container{ 
    margin-top: 40px;
}

.vertical-header-avatar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.vertical-account-title{
    font-size: 15px;
    color: #425466;   
    margin-top: 30px;
    margin-bottom: 20px;
}

.vertical-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5149dd;
    width: 32px;
    height: 32px;
    border-radius: 50%;   
}

.vertical-avatar-name{
    color: #fafafa;
    font-weight: 500;
    font-size: 18px;
}

.vertical-drop-icon{
    position: absolute;
    right: 26px
}

.vertical-expanded-menu{
    position: absolute;
    background-color: #fafafa;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
}

.vertical-expanded-option{  
    display: flex;
    align-items: center;
    width: 192px;
    height: 32px;
    font-size: 12px;
    color: #425466;
    margin: 3px;
}

.vertical-expanded-option:hover {
    background-color:#e6e6e6;
    border-radius: 3px;
    color: #635bff;
}

.vertical-expanded-title{
    font-size: 14px;
    margin-left: 18px;
}

.vertical-menu-item{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-bottom: 5px;
    padding-left: 20px;
    color: #425466;
    font-weight: 500;
    font-size: 20px ;
    cursor: pointer;

}

.menu-item-active{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-bottom: 5px;
    padding-left: 20px;
    color: #635bff;
    background-color:#e6e6e6;
    border-radius: 3px;
    cursor: pointer;
}

.vertical-drop-icon{
    margin-left: 30%;   
}

.vertical-menu-item:hover {
    background-color:#e6e6e6;
    border-radius: 3px;
    color: #635bff;
}

.vertical-menu-title{  
    font-size: 15px;
    margin-left: 12px;
}

.vertical-menu-footer{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-end;
    width: 200px;
    margin-bottom: 15px;
    border-top: solid 1px #dadce1;
}

.vertical-menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #635bff;
    border: solid 1px #635bff;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    color: #635bff;
    font-size: 15px;    
    font-weight: 500;
    margin-bottom: 30px;
}

.vertical-menu-button:hover {
    color: #fafafa;
    background-color: #635bff;
}


.vertical-menu-separator{
    border-top: solid 1px #dadce1;
}

.vertical-footer-text{
    font-family: 'Ubuntu';
    font-size: 15px;
    color: #425466;
    padding-top: 15px;
    font-weight: 400;
}

