.vertical-container {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 240px;
    height: 100%;
    background-color: #f0f0f0;
    z-index: 5;
}

.vertical-menu-container{ 
    margin-top: 40px;

}

.vertical-menu-item{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-bottom: 5px;
    padding-left: 20px;
    color: #516078;
    font-weight: 500;
    font-size: 20px ;
}

.menu-item-active{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-bottom: 5px;
    padding-left: 20px;
    color: #1d75de;
    background-color:#e6e6e6;
    border-radius: 8px;
}

.vertical-drop-icon{
    margin-left: 30%;   
}

.vertical-menu-item:hover {
    background-color:#e6e6e6;
    border-radius: 8px;
    color: #1d75de;
}

.vertical-menu-title{  
    font-size: 15px;
    margin-left: 12px;
}

.vertical-menu-footer{    
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 200px;
    margin-bottom: 15px;
    border-top: solid 1px #dadce1;
}

.vertical-menu-separator{
    border-top: solid 1px #dadce1;
}

.vertical-footer-text{
    text-align: center;
    font-size: 12px;
    color: #516078;
    padding-top: 15px;
}