.update-payment_modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    backdrop-filter: blur(3px);
} 

.update-payment_container{
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 32);
    margin: 30px;
    padding: 50px;
    border: solid 1px rgba(255,255,255, 0.1);
}

.update-payment-input{
    width: 380px;
    height: 40px;
    background-color: rgb(36, 36, 38);
    border: solid 1px transparent;
    padding-left: 43px;
    font-size: 15px;
    margin-top: 15px;
    color: rgba(255,255,255, 0.8);
    border-radius: 3px;
}

.update-payment-input:hover{
    border: solid 1px rgba(255,255,255, 0.6);
}

.update-payment-input:focus{
    outline: none;
}

.update-payment-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 15px;
    width: 380px;
    height: 40px;
    font-size: 15px;
    border-radius: 3px;
    background-color: rgb(130, 87, 230);
    color: rgb(255,255,255,0.9);
    padding-left: 15px;
    font-weight: 600;
}

.update-payment-button:hover{
    filter: brightness(110%);
    cursor: pointer;
}

.update-payment-button-light{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 15px;
    width: 380px;
    height: 40px;
    font-size: 15px;
    border-radius: 3px;
    border: solid 1px rgba(255,255,255,0.9);    
    background-color: rgba(255,255,255,0.9);
    color: rgb(36, 36, 38);
    padding-left: 15px;
    font-weight: 600;
}

.update-payment-button-light:hover{
    filter: brightness(110%);
    cursor: pointer;
}

.update-payment-error{
    width: 380px;
    font-size: 13px;
    padding-top: 5px;
    font-weight: 400;
    margin-top: 10px;
    color: #fa755a;
}

.StripeElement {
    height: 40px;
    padding: 10px 12px;
    color: rgba(255,255,255, 0.9);
    background-color: rgb(36, 36, 38);
    border: solid 1px transparent;
    border-radius: 3px;  
  }
  
  .StripeElement:focus {
    border: solid 1px rgba(255,255,255, 0.6);
  }

  .StripeElement:hover {
    border: solid 1px rgba(255,255,255, 0.6);
  }  
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }