.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;      
    padding:30px;
    min-height: 100vh;
}

.register-headeline{
  display: flex;
  justify-content: center;
  margin-left: 70px;
}

.register-logo{
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 30px;
}

.register-title{
  font-weight: 700;
  font-size: 3.4rem;
}
  
.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 420px;
    background-color: rgb(32, 32, 36);
    padding: 40px;
    padding-top: 45px;
    padding-bottom: 45px;
    border-radius: 5px;
    }
  
.register-input {
  font-size: 15px;
    height: 45px;
    border: none;
    width: 100%;
    min-width: 310px;
    padding-left: 40px;
    background-color:rgb(18, 18, 20);
    border-radius: 3px;
    margin-top: 15px;
    color: rgba(255,255,255, 0.9);
}

.register-icons{
  position: absolute;
  top: 27px;
  left: 10px;
  color: rgba(255,255,255,0.4)
}

.register-icons-view{
  position: absolute;
  top: 27px;
  right: 10px;
  color: rgb(130, 87, 230);
  cursor: pointer;
}

.register-input:focus{
  border: solid 1px red;
}

.register-button{
    width: 100%;
    min-width: 310px;
    height: 45px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
    border: solid 1px rgb(130, 87, 230);
    background-color: rgb(130, 87, 230);
    border-radius: 3px;
    color: rgba(255,255,255, 0.9);
}

.register-button:hover{
  filter: brightness(120%);
  cursor: pointer;
}

.register-link{
  color: rgb(130, 87, 230);
  font-weight: 500;
  font-size: 13px;
}

.register-link:hover{
  color: #bb86fc;
}

.register-create-account{
  font-size: 13px;
  margin-top: 25px;
}
   
.register-error {
  margin-top: 15px;
  font-size: 13px;
  font-weight: 400;
  color: #fa755a;

}  
  
  @media screen and (max-width: 600px) { 
    .register-headeline {
      margin-left: 0px;
      margin-bottom: 50px;
    }
      }