.checkout-modal-container{
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 32);
    margin: 30px;
    padding: 50px;
}

.checkout-input{
    width: 380px;
    height: 42px;
    background-color: rgb(36, 36, 38);
    border: solid 1px transparent;
    padding-left: 43px;
    font-size: 15px;
    margin-top: 15px;
    color: rgba(255,255,255, 0.8);
    border-radius: 3px;
}

.checkout-input:hover{
    border: solid 1px rgba(255,255,255, 0.6);
}

.checkout-input:focus{
    outline: none;
}

.checkout-icon-close{
    position: absolute;
    top: 30px;
    right: 30px;
}

.checkout-modal-title{
    position: absolute;
    top: 30px;
    left: 55px;
    font-weight: 500;
}

.checkout-icon-close:hover{
    color:#bb86fc;
    cursor: pointer;
}

.checkout-description{
    border: solid 1px rgba(255,255,255,0.3);
    margin-top: 15px;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    font-weight: 300;
}

.checkout-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 15px;
    width: 380px;
    height: 40px;
    font-size: 15px;
    border-radius: 3px;
    background-color: rgb(130, 87, 230);
    color: rgb(255,255,255,0.9);
    padding-left: 15px;
    font-weight: 600;
}

.checkout-button:hover{
    filter: brightness(110%);
    cursor: pointer;
}

.checkout-error{
    width: 380px;
    font-size: 13px;
    padding-top: 5px;
    font-weight: 400;
    margin-top: 10px;
    color: #fa755a;
}

.StripeElement {
    height: 40px;
    padding: 10px 12px;
    color: rgba(255,255,255, 0.9);
    background-color: rgb(36, 36, 38);
    border: solid 1px transparent;
    border-radius: 3px;  
  }
  
  .StripeElement:focus {
    border: solid 1px rgba(255,255,255, 0.6);
  }

  .StripeElement:hover {
    border: solid 1px rgba(255,255,255, 0.6);
  }
  
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }