.main-logo_container{
    width: 155px;
    min-width: 155px;
  } 

.main-logo{
    max-width: 100%;
    height: auto;
    filter: brightness(95%);
  }

.main-logo:hover{
    filter: brightness(100%);
  }