.indicator-list-select_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px; 
    height: 40px;  
    background-color:transparent;
    border: solid 1px rgb(51, 51, 53);
    border-radius: 4px 4px 0 0;    
    color: rgba(255,255,255);    
}

.indicator-list-select_container:hover{
    cursor: pointer;
    border: solid 1px #bb86fc;
    color: #bb86fc;
}

.indicator-list-option_title{
    font-size: 14px;
    padding-left: 10px;
}

.indicator-list-select_title{
    font-size: 14px;
    padding-left: 10px;
}

.indicator-modal{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    backdrop-filter: blur(2px);
}

.indicator-modal-container{
    padding:40px;
    background-color: rgb(29, 29, 32);
    width: 44%;
    min-width: 300px;
    height: 100%;   
    overflow-y: scroll

}

.indicator-modal-close{
    font-size: 24px;
    color: rgba(255,255,255, 0.9);
}

.indicator-modal-close:hover{
    cursor: pointer;
    font-size: 24px;
    color: #bb86fc;
}

.indicator-list-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.indicator_col{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    min-width: 150px;
    align-items: center;
    font-size: 14px;
    color: rgba(255,255,255, 0.9);
    cursor: pointer;
    border-bottom: 1px solid rgba(255,255,255, 0.8);
    height: 35px;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 15px;
    
}

.indicator_col_active{
    display: flex;
    width: 30%;
    min-width: 150px;
    align-items: center;
    font-size: 14px;
    color: #bb86fc;
    cursor: pointer;
    border-bottom: solid 1px #bb86fc;
    height: 35px;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 500;
    margin-right: 15px;

}

.indicator-list-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.indicator-modal-button{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding: 8px;
    margin-right: 12px;
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 500;
    height: 35px;    
    color: rgba(255,255,255, 0.9);
    background-color: rgb(51, 51, 53);

}

.indicator-modal-button:hover{
    cursor: pointer;
    color: #bb86fc;
    filter: brightness(120%);
}

.indicator-modal-search-container{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.indicator-modal-search-icon{
    position: absolute;
    left: 2%;
    opacity: 0.5;
    z-index: 1;   
    color: rgb(255,255,255);
}

.indicator-modal-title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.indicator-modal-search-input{
    height: 40px;
    width: 100%;
    border: solid 1px rgb(51, 51, 53);
    background-color: rgb(51, 51, 53);
    border-radius: 3px;
    padding-left: 40px;
    padding-right: 15px;
    font-size: 14px;
    color: rgba(255,255,255, 0.9);
    border: none;
}

.indicator-modal-search-input:hover{
    filter: brightness(120%);
}

.indicator-modal-search-input:focus{
    outline: none;
}

