.exchanges-page{
    display: flex;
    flex-wrap: wrap;
    margin-left: 240px;
    padding:30px;
}

.exchanges-subtitle{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #425466;
}


.exchanges-input{
    display: flex;
    width: 325px;
    height: 40px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);  
    border: none;
    background-color: transparent;
    border-radius: 4px;    
    color: #909090;
    padding-left: 10px;      
    padding-right: 10px;   
    margin-top: 7px;
}

.exchanges-input:hover{
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);  
}

.exchanges-input:focus{
    outline: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);  
}

.exchanges-bot-button_disabled{
    width: 325px;
    height: 40px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    border: solid 1px #E0E0E0;
    background-color: #E0E0E0;
    border-radius: 3px;
    color: #9E9E9E;
}

.exchanges-bot-button_active{
    width: 325px;
    height: 40px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    border: solid 1px rgb(27, 39, 51);
    background-color:rgb(27, 39, 51);
    border-radius: 3px;
    color: #fafafa;
}

.exchanges-bot-button_active:hover{
    background-color:#635bff;
    border: none;
    cursor: pointer;
}

.exchanges-list-header{
    display: flex;
    min-width: 500px;
    justify-content: space-around;
    margin-top: 15px;
    padding: 12px 8px 12px 8px;
    margin-bottom: 15px;
    box-shadow: 0 0.5px 0px 0 rgba(0,0,0,0.1);
}

.exchanges_col_name{
    flex: 1 ;
    font-size: 14px;    
    color: #425466;
}

.exchanges_col_exchange{    
     flex: 1;
     font-size: 14px;    
     color: #425466;
}

.exchanges_col_status{
     flex: 1;
     font-size: 14px;    
     color: #425466;
}

.exchanges_col_actions{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-self: flex-end;
}

.exchanges-list-content{
    display: flex;
    min-width: 500px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1.5px 3px 0 rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding: 12px 8px 12px 8px;
}

.exchanges-list-content:hover{
    background-color: #F5F5F5;
}

.exchanges_row_name{
    flex: 1 ;
    font-size: 14px;    
    color: #425466;
}

.exchanges_row_exchange{    
     flex: 1;
     font-size: 13px;  
     color: #425466;
}

.exchanges_row_status{
     flex: 1;
     font-size: 12px;    
     color: #425466;
     margin-right: 15px;
}

.exchanges_row_status{
    flex: 1;
    color: #425466;
    margin-right: 15px;
}

.exchanges_row_status-active{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #635bff;
    color: #635bff;
    width: 70px;
    height: 23px;
    border-radius: 3px;
    font-size: 12px;
}

.exchanges_row_actions{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.exchange-error{
    margin-top: 10px;
    width: 325px;
    font-size: 13px;
    color: #e53935;
}

.exchange-success{
    margin-top: 10px;
    width: 325px;
    font-size: 13px;
    color: #1DB954;
}

@media screen and (max-width: 600px) {
    .exchanges-page {
      margin-left: 0;
      padding-top: 70px
    }   
  }

