.exchanges-page{
    display: flex;
    flex-wrap: wrap;
    margin-left: 240px;
    padding:30px;
}

.exchanges-page-title{
    margin-bottom: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.exchanges-subtitle{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}

.exchanges-input{
    display: flex;
    width: 325px;
    height: 40px;
    border: none;
    color: rgba(255,255,255, 0.85);
    padding-left: 10px;      
    padding-right: 10px;   
    margin-top: 7px;
    background-color: rgb(36, 36, 38);

}

.exchanges-input:hover{
    cursor: pointer;
}

.exchanges-input:focus{
    outline: none;
    cursor: pointer;
}

.exchanges-bot-button_disabled{
    width: 325px;
    height: 40px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    border: solid 1px rgb(36, 36, 38);
    background-color: rgb(36, 36, 38);
    border-radius: 3px;
    color: rgba(255,255,255, 0.7);
}

.exchanges-bot-button_active{
    width: 325px;
    height: 40px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    border: solid 1px rgb(130, 87, 230);
    background-color: rgb(130, 87, 230);
    border-radius: 3px;
    color: rgba(255,255,255, 0.9);
}

.exchanges-bot-button_active:hover{
    background-color:#bb86fc;
    border: none;
    cursor: pointer;
}

.exchanges-list-header{
    display: flex;
    min-width: 500px;
    justify-content: space-around;
    margin-top: 15px;
    padding: 12px 8px 10px 8px;
    margin-bottom: 15px;
    border-bottom: solid 1px rgb(51, 51, 53);
}

.exchanges_col_name{
    flex: 1 ;
    font-size: 14px;    
    font-weight: 500;
}

.exchanges_col_exchange{    
     flex: 1;
     font-size: 14px;    
     font-weight: 500;
}

.exchanges_col_status{
     flex: 1;
     font-size: 14px;    
     font-weight: 500;
}

.exchanges_col_actions{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-self: flex-end;
}

.exchanges-list-content{
    display: flex;
    min-width: 500px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px 8px 12px 8px;
    background-color: rgb(36, 36, 38);
    border-radius: 3px;
}

.exchanges-list-content:hover{
    background-color: rgb(51, 51, 53);    
}

.exchanges_row_name{
    flex: 1 ;
    font-size: 14px;    
}

.exchanges_row_exchange{    
     flex: 1;
     font-size: 13px;
     font-weight: 500;  
}

.exchanges_row_status{
     flex: 1;
     font-size: 12px;    
     margin-right: 15px;
     font-weight: 500;  

}

.exchanges_row_status{
    flex: 1;
    margin-right: 15px;
}

.exchanges_row_status-active{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bb86fc;
    color: rgb(36, 36, 38);
    width: 70px;
    height: 23px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;

}

.exchanges_row_actions{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.exchange-error{
    margin-top: 10px;
    width: 325px;
    font-size: 13px;
    color: #bb86fc;
}

.exchange-success{
    margin-top: 10px;
    width: 325px;
    font-size: 13px;
    color: #03dac5;
}

@media screen and (max-width: 600px) {
    .exchanges-page {
      margin-left: 0;
      padding-top: 70px
    }   
  }

