.main-header{
    top: 0;
    display: flex;
    justify-content: center;
    height: 70px;   
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 1px rgba(255,255,255,0.15);
    z-index: 2;
  }

   .main-header-nav {
    display: flex;
    flex-direction: 'row';
    align-items: center;
    justify-content: space-between;
    width: 70vw;
  }

  .main-header-menu{
    display: flex;
    flex-direction: 'row';
    align-items: center;
  } 
 
  
  .main-header-link-middle{
    color:rgba(255, 255, 255, 0.85);
    margin-right: 25px;
    font-weight: 600;
    font-size: 1rem;
  }
  
  .main-header-link-middle:hover{
    color: rgb(255, 255, 255);
    filter: brightness(115%);  
    border-bottom: solid 2px rgb(130, 87, 230);
    padding-bottom: 23px;
  } 

  .main-header_button-title{
    color: rgba(255,255,255,0.85);
    font-size: 15px;
    font-weight: 600;
  }

  .main-header_button-title:hover{
    color: rgb(255, 255, 255);
    filter: brightness(120%);  
  }

  .main-header_button-login{
    color: rgba(255,255,255,0.85);
    font-size: 1rem;
    font-weight: 600;    
    width: 110px;
  }

  .main-header_button-login:hover{
    color: rgb(255,255,255);
    border-bottom: solid 2px rgb(130, 87, 230);
    padding-bottom: 23px;
  }
  
  .main-header-register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 110px;
    border: solid 1px rgb(130, 87, 230);
    background-color: rgb(130, 87, 230);
    border-radius: 4px;
  }
  
  .main-header-register:hover{
  filter: brightness(110%);
  }

  .main-header-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 110px;
    border-radius: 3px;
    border: solid 1px transparent;
  }
  
  .main-header-login:hover{
  filter: brightness(120%);
  border-bottom: solid 2px rgb(130, 87, 230);
  padding-bottom: 23px;
  }  

  .main-header_expanded-item{
    background-color: rgb(29, 29, 32);
    width: 85%;
    align-self: center;
    height: 48px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1rem;
    font-weight: 600;
    padding-left: 35px;
    margin-bottom: 10px;
  }

  .main-header_expanded-item:hover{
    color: #bb86fc;
    filter: brightness(115%);
}

.main-header_expanded-item-login{
  background-color: rgba(255, 255, 255, 0.85);  
  width: 85%;
  align-self: center;
  height: 48px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 40px;
  color: rgb(29, 29, 32);
}

.main-header_expanded-item-login:hover{
  filter: brightness(110%); 
  background-color: rgba(255, 255, 255, 0.9);  

}

.main-header_expanded-item-register{
  background-color: rgb(130, 87, 230);
  color: rgb(255,255,255,0.9);
  width: 85%;
  align-self: center;
  height: 48px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

.main-header_expanded-item-register:hover{
  filter: brightness(110%); 
}

 

  @media screen and (max-width: 600px) {
    .main-header-nav{
        width: 85vw;
    }
  }