.login-page {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.login_logo-container{
  display: flex;
  position: relative;
  justify-content: center;
  width: 420px;
  margin-bottom: 25px;
}

.login_logo-icon{
  position: absolute;
  top: 2px;
  right: 256px;
  color: rgb(130, 87, 230);
  font-size: 25px;
}

.login-content{  
  display: flex;
  height: 300px;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
}
  
.login-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 390px;
    background-color: rgb(32, 32, 36);
    border-radius: 5px;
    padding: 25px;
  }
  
.login-input {
  font-size: 15px;
    height: 45px;
    border: none;
    width: 100%;
    min-width: 310px;
    padding-left: 40px;
    background:rgb(18, 18, 20);
    border: solid 1px rgb(18, 18, 20);
    margin-top: 15px;
    color: rgba(255,255,255, 0.9);
    border-radius: 2px;
}

.login-input:focus{
  outline: rgba(130, 87, 230, 0.8);
  border: solid 1px rgba(130, 87, 230, 0.8);

}

.login-icons{
  position: absolute;
  top: 27px;
  left: 10px;
  color: rgba(255,255,255,0.4)
}

.login-icons-view{
  position: absolute;
  top: 27px;
  right: 10px;
  color: rgb(130, 87, 230);
  cursor: pointer;
}

.login-button{
    width: 100%;
    min-width: 310px;
    height: 42px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
    border: solid 1px rgb(130, 87, 230);
    background-color: rgb(130, 87, 230);
    color: rgba(255,255,255, 0.9);
}

.login-button:hover{
  filter: brightness(110%);
  cursor: pointer;
}

.login-link{
  color: rgb(130, 87, 230);
  font-weight: 500;
  font-size: 13px;
}

.login-link:hover{
  color: #bb86fc;
}

.login-create-account{
  font-size: 13px;
  margin-top: 25px;
}
   
.login-error {
    font-size: 13px;
    padding-top: 5px;
    font-weight: 400;
    margin-top: 5px;
    color: #fa755a;
}  


  @media screen and (max-width: 600px) { 
   
  }