.recover-password-page {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.recover-password-content{  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
}
  
.recover-password-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 390px;
  background-color: rgb(32, 32, 36);
  padding: 25px;  
  border-radius: 5px;
  }
  
.recover-password-input {
  font-size: 15px;
  height: 45px;
  border: none;
  width: 100%;
  min-width: 310px;
  padding-left: 40px;
  background-color:rgb(18, 18, 20);
  border: solid 1px rgb(18, 18, 20);
  border-radius: 2px;
  margin-top: 15px;
  color: rgba(255,255,255, 0.9);
}

.recover-password-input:focus{
  outline: none;
  border: solid 1px rgba(130, 87, 230,0.5);
}

.recover-password-icons{
  position: absolute;
  top: 27px;
  left: 10px;
  color: rgba(255,255,255,0.4)
}

.recover-password-icons-view{
  position: absolute;
  top: 27px;
  right: 10px;
  color: rgb(130, 87, 230);
  cursor: pointer;
}

.recover-password-button{
  width: 100%;
  min-width: 310px;
  height: 42px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  border: solid 1px rgb(130, 87, 230);
  background-color: rgb(130, 87, 230);
  color: rgba(255,255,255, 0.9);
}

.recover-password-button:hover{
  filter: brightness(110%);
  cursor: pointer;
}

.recover-password-link{
  color: rgb(130, 87, 230);
  font-weight: 500;
  font-size: 13px;
}

.recover-password-link:hover{
  color: #bb86fc;
}

.recover-password-create-account{
  font-size: 13px;
  margin-top: 25px;
}
   
.recover-password-error {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #fa755a;
} 

.recover-password-success{
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;  
  color: #bb86fc;

}


  @media screen and (max-width: 600px) { 
    .recover-password-headeline {
      margin-right: 0px;
      margin-bottom: 30px;
    }
  }