.change-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;      
    padding:30px;
    min-height: 100vh;
}

.change-password-headeline{
  display: flex;
  justify-content: center;
  margin-left: 70px;
}

.change-password-logo{
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 30px;
}

.change-password-title{
  font-weight: 700;
  font-size: 3.4rem;
}
  
.change-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 420px;
    background-color: rgb(32, 32, 36);
    padding: 40px;
    padding-top: 45px;
    padding-bottom: 45px;
    border-radius: 5px;
    }
  
.change-password-input {
  font-size: 15px;
    height: 45px;
    border: none;
    width: 100%;
    min-width: 310px;
    padding-left: 40px;
    background-color:rgb(18, 18, 20);
    border-radius: 3px;
    margin-top: 15px;
    color: rgba(255,255,255, 0.9);
}

.change-password-icons{
  position: absolute;
  top: 27px;
  left: 10px;
  color: rgba(255,255,255,0.4)
}

.change-password-icons-view{
  position: absolute;
  top: 27px;
  right: 10px;
  color: rgb(130, 87, 230);
  cursor: pointer;
}

.change-password-input:focus{
  border: solid 1px red;
}

.change-password-button{
    width: 100%;
    min-width: 310px;
    height: 45px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
    border: solid 1px rgb(130, 87, 230);
    background-color: rgb(130, 87, 230);
    border-radius: 3px;
    color: rgba(255,255,255, 0.9);
}

.change-password-button:hover{
  filter: brightness(120%);
  cursor: pointer;
}

.change-password-link{
  color: rgb(130, 87, 230);
  font-weight: 500;
  font-size: 13px;
}

.change-password-link:hover{
  color: #bb86fc;
}

.change-password-create-account{
  font-size: 13px;
  margin-top: 25px;
}
   
.change-password-error {
  margin-top: 15px;
  font-size: 13px;
  font-weight: 400;
  color: #fa755a;
}  

.change-password-success{
    margin-top: 15px;
    font-size: 13px;
    font-weight: 400;  
    color: #03dac5;  
}
  
  
  @media screen and (max-width: 600px) { 
    .change-password-headeline {
      margin-left: 0px;
      margin-bottom: 50px;
    }
      }