.template-bot-content{
    display: flex;
    min-width: 800px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px 8px 12px 8px;
    border-radius: 3px;
    background-color: rgb(36, 36, 38);
    height: 80px;
    color: rgba(255,255,255,0.85)
}

.template-bot-content:hover{
    cursor: pointer;
    background-color: rgb(51, 51, 53);    
}

.templates-bot_name-container{
    display: flex;
    flex: 1;
    align-items: center;
}

.template-bot_name-text{
   padding-left: 10px;
   font-size: 15px;
   font-weight: 500;
}

.template-bot_description-text{
    width: 380px;
    font-size: 14px;
}

.template-bot_config-text{
   font-size: 15px;
   font-weight: 500;
}


@media screen and (max-width: 600px) {
    .templates-page {
      margin-left: 0;
      padding-top: 70px
    }   
}