.home-hero_section{
   display: flex;
   flex-wrap: wrap; 
   justify-content: center;
   margin-top: 70px;
   margin-bottom: 70px;
}

.home-width{
   width: 70vw 
}

.home_flex-center{
    display: flex;
    justify-content: center;
}

.home-hero_section-title{
    font-weight: 800;
    font-size: 3.5rem;
    text-align: center;
    color: rgba(255,255,255,0.85);
    line-height: 3.5rem;
}

.home-hero_section-subtitle{
    font-size: 1.4rem;
    line-height: 1.5rem;
    text-align: center;
    margin-top: 30px;
    color: rgba(255,255,255,0.85);
    max-width: 600px;
    font-weight: 400;
}

.homepage-getstarted-button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    width: 100%;
    height: 45px;
    background-color: rgb(130, 87, 230);
    color: rgba(255,255,255,0.85);
}

.homepage-getstarted-button:hover{
    color: rgb(255, 255, 255);
    filter: brightness(110%);  
}

.home-section_container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;  
}

.home-image_cotainer{
    width: 100%;
    height: auto;
}

.home-section_container-exchanges{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;  
    border-top: solid 1px rgba(255,255,255,0.15);
    border-bottom: solid 1px rgba(255,255,255,0.15);
}

.home-section_exchange-title{
    text-align: center;
    color: rgba(255,255,255,0.80);
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 300;
}

.home-section_box-exchanges{
    min-width: 380px;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 45px;
}

.home-exchange_logo{
    filter: invert(45%) sepia(100%) saturate(4%) hue-rotate(15deg) brightness(125%) contrast(96%);
    height: auto;
    max-width: 100%;
}

.home-exchange_logo:hover{
    filter: invert(55%) sepia(100%) saturate(4%) hue-rotate(15deg) brightness(125%) contrast(96%);
    cursor: pointer;
}


.home-section_exchange-item{
    font-size: 2rem;
    font-weight: 800;
    color: rgba(255,255,255,0.7);
    margin-right: 30px;
    margin-top: 10px;
}

.home-section_about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid 1px rgba(255,255,255,0.15);
    padding-bottom: 35px;    
}

.home-section_about-list{
    width: 340px;
    padding-bottom: 50px;
    padding-right: 10px;
}

.home-section_about-icon{
    background-color: rgb(36, 36, 38);
    width: 62px;
    height: 62px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 139px;
}

.home-section_about-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
}

.home-section_about-description{
    font-size: 1.2rem;
    color: rgba(255,255,255,0.85);
    text-align: center;
}

.home-middle_section{
    border-bottom: solid 1px rgba(255,255,255,0.15);
    padding-bottom: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.home-middle_section-title{
    max-width: 650px;
    text-align: center;
    font-size: 2rem; 
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}

.home-features_section-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.home-features_section-text{
    font-size: 1.2rem;
    color: rgba(255,255,255,0.85);
    max-width: 500px;
    text-align: center;
}

.home-features_section-subtitle{
    font-size: 1.7rem;
    margin-bottom: 8px;
    font-weight: 600;
    text-align: center;
}

.home-features_section-description{
   font-size: 1.3rem;
   color: rgba(255,255,255,0.85);
   text-align: center;
}

.home-features_section-container_01{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.home-features_section-container_02{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;

}

.home-features_section-container_03{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    border-bottom: solid 1px rgba(255,255,255,0.15);
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 50px;

}

.home-price_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-price_section-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.home-price_section-subtitle{
    font-size: 1.3rem;
    color: rgba(255,255,255,0.85);
    max-width: 650px;
    text-align: center;
}

.home-footer_hero{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 210px;
    background-color: rgb(29, 29, 32);
    padding: 30px;
    margin-bottom: 70px;
}

.home-footer_hero-title{
    font-size: 2rem;
    font-weight: 600;
}

.home-footer_hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 800;
    color: rgb(29, 29, 32);
    background-color: rgba(255,255,255,0.85);
    width: 320px;
    height: 45px;
}

.home-footer_hero-button:hover{
    filter: brightness(110%);
}

.home-footer_section-media{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.home-footer_section-media-icon{
    font-size: 25px;
    color: rgb(130, 87, 230);
    margin-left: 15px;
}

.home-footer_section-media-icon:hover{
    filter: brightness(130%);
    cursor: pointer;
}

.home-footer_section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap-reverse;
}

.home-footer_container_01{
    display: flex;
    width: 300px;
    justify-content: flex-start;
}

.home-footer_container_02{
    display: flex;
    width: 300px;
    justify-content: flex-end;
}

.home-footer_section-rights{
    font-weight: 300;
    font-size: 0.9rem;
    color: rgba(255,255,255,0.85);
}

.home-footer_section-link{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 15px;
    color: rgba(255,255,255,0.85);
}

.home-footer_section-link:hover{
    color: rgb(255, 255, 255);
    filter: brightness(120%);  
}

@media screen and (max-width: 600px) {
    .home-width{
        width: 85vw;
    }
    .home-features_section-subtitle{
        text-align: center;
    }
    .home-features_section-text{
        text-align: center;
    }
    .home-section_about{
        justify-content: center;
    } 
    .home-footer_hero{
        justify-content: center;
        text-align: center;
    }
    .home-footer_section {
      justify-content: center;
    }   

    .home-footer_container_01{
        justify-content: center;
    }
    .home-footer_container_02{
        justify-content: center;
        margin-top: 25px;
    }
    .home-footer_section-media {
        justify-content: center;
      }
    .home-footer_section-rights{
        margin-top: 15px;
    }
}



